@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Vollkorn:ital,wght@0,600;0,700;1,400&display=swap');
:root {
  --celdisplay: none;
  --farendisplay: none;
}

body {
  min-height: 100vh;
  font-family: 'Vollkorn', serif;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  background-attachment: fixed;
  overflow: hidden;
  background: url(./assets/wall2.jpg) no-repeat;
  min-height: 90vh;
  max-width: 90vw;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -ms-grid-columns: 2fr 20px 1fr;
  grid-template-columns: 2fr 1fr;
  border-radius: 20px;
}

.logo {
  position: absolute;
  top: -20px;
  font-size: 60px;
  font-family: 'Chewy', cursive;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.1);
  background-image: url(./assets/grad.png);
  background-color: rgba(192, 192, 192, 0.473);
  -webkit-animation: move 6s infinite linear;
          animation: move 6s infinite linear;
}

@keyframes move {
  from, to {
    background-position-x: 0;
  }
  50% {
    background-position-x: 300px;
  }
}

@-webkit-keyframes move {
  from, to {
    background-position-x: 0;
  }
  50% {
    background-position-x: 300px;
  }
}

.umbrella {
  max-height: 50px;
  width: auto;
  margin-left: 20px;
}

.advise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: opacity 0.7s;
  -o-transition: opacity 0.7s;
  transition: opacity 0.7s;
}

.advise>p {
  margin-left: 10px;
  font-size: 1.3em;
}

.left-sect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.map-info {
  position: absolute;
  top: 80%;
  left: 25%;
  z-index: 5;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(19, 2, 39);
  color: #fff;
  text-align: center;
}

.map-info:after {
  content: "";
  border-top: 60px solid rgb(19, 2, 39);
  position: absolute;
  top: 50px;
}

.info-wrap {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  min-height: 50vh;
  max-width: 45vw;
  background: inherit;
  overflow: hidden;
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  position: relative;
}

.info-wrap:before {
  content: '';
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  -webkit-filter: blur(10px);
  margin: -20px;
}

.info-wrap * {
  position: relative;
  z-index: 15;
}

.aside {
  background: transparent;
  overflow: hidden;
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.aside::before {
  content: "";
  position: absolute;
  background: inherit;
  top: -15px;
  height: 110%;
  width: 110%;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  -webkit-filter: blur(10px);
  border-radius: 20px;
}

.aside * {
  position: relative;
  z-index: 5;
}

.search {
  background: transparent;
  border: none;
  border-bottom: 2px solid rgb(19, 2, 39);
  width: 50%;
  color: rgb(1, 12, 10);
  height: 30px;
  margin: 30px 0 0 10px;
  font-size: 20px;
  -webkit-transition: width 0.8s;
  -o-transition: width 0.8s;
  transition: width 0.8s;
}

.search:focus {
  outline: none;
  width: 80%;
}

.search::-webkit-input-placeholder {
  font-size: 25px;
  padding-left: 10px;
  color: rgba(1, 12, 10, 0.5);
}

.search::-moz-placeholder {
  font-size: 25px;
  padding-left: 10px;
  color: rgba(1, 12, 10, 0.5);
}

.search:-ms-input-placeholder {
  font-size: 25px;
  padding-left: 10px;
  color: rgba(1, 12, 10, 0.5);
}

.search::-ms-input-placeholder {
  font-size: 25px;
  padding-left: 10px;
  color: rgba(1, 12, 10, 0.5);
}

.search::placeholder {
  font-size: 25px;
  padding-left: 10px;
  color: rgba(1, 12, 10, 0.5);
}

.search::-moz-placeholder {
  font-size: 25px;
  padding-left: 10px;
  color: rgba(1, 12, 10, 0.5);
}

.search-location {
  border-top-right-radius: 20px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-wrap {
  border-top-right-radius: 20px;
  background-color: rgb(255, 136, 0);
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgb(19, 2, 39);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.wi {
  font-size: 60px;
}

.icon-desc {
  text-align: right;
}

.icon-wrap>img {
  width: 20px;
  height: 20px;
}

.humid-info, .wind-info, .feels-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 25px;
}

.feels-score {
  font-size: 30px;
  color: red;
}

.location {
  overflow: hidden;
  max-width: 230px;
  min-width: 120px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.humid {
  height: 48px;
}

.top-ad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  -webkit-transition: opacity 0.7s;
  -o-transition: opacity 0.7s;
  transition: opacity 0.7s;
}

.top-ad>p {
  margin: 10px;
  font-weight: 800;
  font-size: 1.4em;
}

.weather-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.weather-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  -webkit-transition: opacity 0.7s;
  -o-transition: opacity 0.7s;
  transition: opacity 0.7s;
}

.weather-more * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.top-ad p, .temp-h1, .same-font:not(last-child), .same-font p, .cel, .faren {
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.1);
  background-position: 50% 380px;
  background-image: url(./assets/gray21.jpg);
}

.temp-h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(25, 62, 226, 0.6);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 8em;
  padding: 0;
  margin: 0 25px;
  font-family: 'Chewy', cursive;
  -webkit-animation: move 6s infinite linear;
          animation: move 6s infinite linear;
}

.top-ad .date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-align: right;
  width: 200px;
}

.top-ad .date, .top-ad .location {
  background: none;
  color: rgba(0, 0, 0, 0.9);
}

.temp {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  min-width: 250px;
  -webkit-transition: opacity 0.7s;
  -o-transition: opacity 0.7s;
  transition: opacity 0.7s;
}

.theme-switch {
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 0;
}

.theme-switch input {
  opacity: 0;
}

.slider {
  border-radius: 50px;
  background: -o-linear-gradient(85deg, rgb(14, 26, 133), rgb(17, 1, 37));
  background: linear-gradient(5deg, rgb(14, 26, 133), rgb(17, 1, 37));
  -webkit-box-shadow: inset 0 0 4px silver;
          box-shadow: inset 0 0 4px silver;
  bottom: 0;
  cursor: pointer;
  left: -50px;
  position: absolute;
  right: 0;
  top: -15px;
  height: 48px;
  width: 110px;
  z-index: -5;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  border: 2px solid var(--slider-border);
}

.slider:before {
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #2196f3;
  bottom: 5px;
  content: "";
  height: 38px;
  left: 8px;
  z-index: 5;
  position: absolute;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  width: 40px;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #000;
  border-color: #2196f3;
}

input:checked+.slider:before {
  background-color: #afe0ff;
  -webkit-transform: translateX(calc(110px / 2));
      -ms-transform: translateX(calc(110px / 2));
          transform: translateX(calc(110px / 2));
}

.round {
  border-radius: 34px;
}

.cel {
  display: var(--celdisplay);
}

.faren {
  margin-left: 10px;
  display: var(--farendisplay);
}

.cel::after, .faren::after {
  content: '0';
  position: absolute;
  top: -20px;
  color: rgba(25, 62, 226, 0.6);
  z-index: 7;
  font-size: 0.6em;
  right: 40px;
}

.cel::after {
  display: var(--celdisplay);
}

.faren::after {
  display: var(--farendisplay);
}

.cel, .faren {
  font-size: 95px;
  margin: 0 0 10px 40px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation: move 6s infinite linear;
          animation: move 6s infinite linear;
  color: rgba(25, 62, 226, 0.6);
}

.togg {
  display: inline-block;
  margin-top: 10px;
  font-size: 25px;
  z-index: 5;
}

.togg:first-child {
  margin: 10px 40px 0 7px;
}

.togg::after {
  content: '0';
  top: -3px;
  color: orangered;
  position: absolute;
  z-index: 7;
  right: 15px;
  font-size: 0.6em;
}

.recent-search, .details, .more-details {
  margin: 10px 20px;
  font-size: 20px;
}

.recent-search {
  margin-top: -25px;
}

.recent-search span, .details span, .more-details span {
  margin-left: 10%;
  display: inline-block;
}

.details *, .more-details * {
  margin-bottom: 10px;
}

.vibrate {
  -webkit-animation: vibrate 0.6s infinite;
          animation: vibrate 0.6s infinite;
}

@-webkit-keyframes vibrate {
  from {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes vibrate {
  from {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.load-wrap {
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: opacity 0.7s;
  -o-transition: opacity 0.7s;
  transition: opacity 0.7s;
}

.load-wrap>h3 {
  font-size: 24px;
  margin-bottom: 30px;
}

.loader {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80px;
  height: 10px;
  background: rgb(17, 138, 219);
  border-radius: 5px;
  -webkit-animation: load 1.8s ease-in-out infinite;
          animation: load 1.8s ease-in-out infinite;
}

.loader:before, .loader:after {
  position: relative;
  display: block;
  content: "";
  -webkit-animation: load 1.8s ease-in-out infinite;
          animation: load 1.8s ease-in-out infinite;
  height: 10px;
  border-radius: 5px;
}

.loader:before {
  top: -20px;
  left: 10px;
  width: 70px;
  background-color: rgb(240, 47, 26);
}

.loader:after {
  bottom: -10px;
  width: 65px;
  background-color: rgb(223, 145, 19);
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  50% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
}

@keyframes load {
  0% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  50% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
}

#map {
  height: 620px;
  min-width: 200px;
  max-width: 454px;
}

.small-screen {
  display: none;
}

.weather-more .feels-temp {
  margin: 0 0 0 10px;
}

.feels-score .togg {
  margin-right: 0;
}

@media only screen and (max-width: 1100px) {
  .container {
    grid-column: 1.5fr 1fr;
  }
  .advise-weather .top-ad * {
    font-size: 14px;
  }
  .top-ad {
    margin: 10px 0;
  }
  .top-ad .date {
    width: 120px;
  }
  .temp .temp-h1 {
    margin-top: 10px;
    font-size: 50px;
  }
  .cel {
    margin-left: 20px;
  }
  .cel::after, .faren::after {
    top: -10px;
    right: 20px;
  }
  .theme-switch .slider .togg {
    font-size: 18px;
    margin-top: 15px;
  }
  .slider {
    width: 100px;
  }
  .cel, .faren {
    font-size: 50px;
  }
  .weather-more * {
    font-size: 18px;
  }
  .advise>p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 769px) {
  .top-ad .date {
    margin-left: 100px;
    text-align: center;
  }
  .top-ad .location {
    margin-left: -10px;
  }
  .top-ad>.toggle {
    margin-left: 30px;
  }
  .temp-h1 {
    margin-top: 13px;
  }
  .temp-h1 .cel, .temp-h1 .faren {
    margin-left: 5px;
  }
  .temp-h1 .cel::after, .temp-h1 .faren::after {
    right: 15px;
  }
  .slider {
    left: 0;
  }
  input:checked+.slider:before {
    -webkit-transform: translateX(calc(100px / 2));
        -ms-transform: translateX(calc(100px / 2));
            transform: translateX(calc(100px / 2));
  }
}

@media only screen and (max-width: 750px) {
  .container {
    background-image: url(./assets/sunny-mobile.jpg)
  }
  .slider {
    position: relative;
    left: 0;
  }
  .large-screen {
    display: none;
  }
  .small-screen {
    display: initial;
    top: 0;
    left: 0;
    text-align: center;
    right: 0;
    position: relative;
    margin: 0 auto;
    width: 90%;
  }
  .left-sect .top-ad .location, .left-sect .top-ad .date {
    margin-right: 0;
    margin-left: 0;
  }
  .small-screen-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .logo {
    font-size: 40px;
  }
  .container {
    -ms-grid-rows: 150px 10px 350px 10px auto;
    -ms-grid-columns: 1fr;
        grid-template: 150px 350px auto / 1fr;
    row-gap: 10px;
    gap: 10px 0;
    max-width: 100vw;
    padding: 10px;
  }
  .search-location {
    margin-bottom: 10px;
  }
  .top-ad, .temp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advise-weather .top-ad p.location {
    font-size: 1.2em;
  }
  .weather-more span {
    font-size: 1.2em;
  }
  .weather-desc {
    font-size: 1.2em;
  }
  .aside {
    border-radius: 20px;
    margin: 0;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .aside::before {
    height: auto;
  }
  .left-sect {
    margin: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .info-wrap {
    margin: 0;
    max-width: 95%;
  }
  .togg:first-child {
    margin-left: 10px;
  }
  #map {
    height: 300px;
  }
  .temp>.temp-h1 {
    padding: 0;
  }
  .search::-webkit-input-placeholder {
    font-size: 20px;
  }
  .search::-moz-placeholder {
    font-size: 20px;
  }
  .search:-ms-input-placeholder {
    font-size: 20px;
  }
  .search::-ms-input-placeholder {
    font-size: 20px;
  }
  .search::placeholder {
    font-size: 20px;
  }
  .temp-h1 .cel, .temp-h1 .faren {
    margin: 0 0 0 20px;
  }
  .temp-h1 .cel::after, .temp-h1 .faren::after {
    color: rgba(25, 62, 226, 0.6);
    z-index: 25;
    right: 20px;
  }
  .weather-more {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .weather-more img {
    width: 30px;
    height: 30px;
  }
  .icon-desc {
    margin-left: 20px;
    margin-top: -15px;
    text-align: center;
  }
  .wi {
    font-size: 30px;
  }
  .top-ad .date {
    width: auto;
  }
  .advise-weather div {
    padding: 0 10px;
    margin-top: 5px;
  }
  .umbrella {
    max-height: 30px;
  }
  .advise-weather {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px;
  }
  .advise-weather .top-ad * {
    font-size: 1.1em;
  }
  .temp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 150px;
    margin-bottom: 10px;
  }
  .weather-more, .weather-info {
    margin: 0;
  }
  .advise {
    margin: 8px 0;
  }
  .weather-info {
    width: 100%;
  }
  .load-wrap {
    top: 25%;
    left: 36%;
  }
  .advise-weather {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .theme-switch {
    margin: 0 0 10px 0;
    height: 48px;
  }
  .humid-info {
    margin-top: 5px;
  }
  .toggle {
    margin: 10px 0;
  }
}