@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Vollkorn:ital,wght@0,600;0,700;1,400&display=swap');

body {
  min-height: 100vh;
  font-family: 'Vollkorn', serif;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-attachment: fixed;
  overflow: hidden;
  background: url(./assets/wall2.jpg) no-repeat;
  min-height: 90vh;
  max-width: 80vw;
  flex-grow: 3;
  background-size: cover;
  display: grid;
  column-gap: 20px;
  grid-template-columns: 2fr 1fr;
  border-radius: 20px;
}

.logo {
  position: absolute;
  top: -40px;
  font-size: 60px;
  font-family: 'Chewy', cursive;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0,0,0,0.1);
  background-image: url(./assets/glossy-text.jpg);
}

.umbrella {
  max-height: 50px;
  width: auto;
  margin-left: 10px;
}

.advise {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.left-sect {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.info-wrap {
  flex-grow: 2;
  min-height: 50vh;
  max-width: 45vw;
  background: inherit;
  overflow: hidden;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  position: relative;
}

.info-wrap:before {
  content: '';
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  -webkit-filter: blur(10px);
  margin: -20px;
}

.info-wrap * {
  position: relative;
  z-index: 15;
}


.aside {
  background: transparent;
  overflow: hidden;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.aside::before {
  content: "";
  position: absolute;
  background: inherit;
  top: -15px;
  height: 110%;
  width: 110%;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  -webkit-filter: blur(10px);
  border-radius: 20px;
}

.aside * {
  position: relative;
  z-index: 5;
}

.search {
  background: transparent;
  border: none;
  border-bottom: 2px solid rgb(243, 114, 8);
  width: 60%;
  color: rgb(1, 12, 10);
  height: 30px;
  margin: 30px 0 0 10px;
  transition: width 0.8s;
}

.search:focus {
  outline: none;
  width: 70%;
}

.search::placeholder {
  font-size: 25px;
  padding-left: 10px;
  color: rgb(1, 12, 10);
}

.search::-moz-placeholder {
  font-size: 25px;
  padding-left: 10px;
  color: rgb(129, 13, 9);
}

.search-location {
  border-top-right-radius: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.icon-wrap {
  border-top-right-radius: 20px;
  background-color: rgb(255, 136, 0);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-wrap>img {
  width: 20px;
  height: 20px;
}

.temp-h1 {
  display: inline-block;
  font-size: 8em;
  padding: 0;
  margin: 0;
  font-family: 'Chewy', cursive;
}

.humid {
  width: 48px;
  height: 48px;
}

.top-ad {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.top-ad > p {
  margin: 10px;
  font-weight: 800;
  font-size: 1.4em;
}

.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.weather-more {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.weather-more * {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.same-font {
  font-size: 35px;
}

.top-ad p,.temp-h1, .same-font:not(last-child), .same-font p, .day {
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0,0,0,0.1);
  background-position: 50% 380px;
  background-image: url(./assets/dark-gloss.jpg);
}

.top-ad .date {
  font-size: 17px;
}

.cel {
  margin-right: 20px;
}

.cel::after, .faren::after {
  content: '0';
  position: absolute;
  top: -5px;
  color: #000;
  z-index: 7;
  font-size: 0.6em;
  right: 20px;
}

.temp-wrap {
  align-self: center;
}

.theme-switch {
  display: inline-block;
  position: relative;
}

.theme-switch input {
  display: none;
}

.slider {
  border-radius: 50px;
  background: linear-gradient(5deg, rgb(14, 26, 133), rgb(17, 1, 37));
  box-shadow: inset 0 0 4px silver;
  bottom: 0;
  cursor: pointer;
  left: -50px;
  position: absolute;
  right: 0;
  top: -25px;
  height: 48px;
  width: 110px;
  z-index: -5;
  transition: all 0.4s;
  border: 2px solid var(--slider-border);
}

.slider:before {
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #2196f3;
  bottom: 5px;
  content: "";
  height: 38px;
  left: 4px;
  z-index: 10;
  position: absolute;
  transition: 0.4s;
  width: 40px;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #000;
  border-color: #2196f3;
}

input:checked + .slider:before {
  background-color: #afe0ff;
}

input:checked + .slider:before {
  transform: translateX(calc(110px / 2));
}

.round {
  border-radius: 34px;
}

.togg {
  color: orangered;
  display: inline-block;
  margin-top: 10px;
  font-size: 25px;
  z-index: 5;
}

.togg:first-child {
  margin: 10px 36px 0 25px;
}

.togg::after {
  top: -3px;
  color: orangered;
}

.recent-search, .details, .more-details {
  margin: 10px 20px;
  font-size: 20px;
}

.recent-search {
  margin-top: -25px;
}

.recent-search  span, .details span, .more-details span {
  margin-left: 90px;
}

.details *, .more-details * {
  margin-bottom: 10px;
}